
:root {
    --header-bg: rgb(255, 255, 255);
    --arrow-bg: rgba(128, 128, 128, 0.541);
    --arrow-bg-active: rgba(215, 169, 169, 0.541);
    --slide-text-color: rgb(255, 255, 255);
    --avg-h-size: calc(.4rem + 3vw);
    --avg-font-size: calc(.2rem + 1vw);
    --avg-font-size-sm: calc(.2rem + 3vw);
}

* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

html, body {
    display: flex;
    box-sizing: border-box;
    width: 100vw;
}

body {
    display: grid;
    grid-template-rows: 3% 1fr;
    /*height: 300vh;*/ 
    font-size: var(--avg-font-size);
}

.faixa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-image: url('./svgs/blurry-gradient-haikei4.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.faixa-text {
    color: white ;
    overflow: visible;
}

.page {
    box-sizing: border-box;
    flex-direction: column;
}

header {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-content: center;
    height: 7%;
    padding: .5%;
    background-color: var(--header-bg);
    /*position: fixed;*/
    z-index: 2;
}

.header-content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr 0;
    grid-template-columns: 1fr 5fr 1fr;
    width: 92%;
    overflow: visible;
    font-size: calc(.4rem + 1vw);
}

.logo {
    display: flex;
    box-sizing: border-box;
}

.logo img {
    width: 76%;
    overflow: visible;
}

header nav {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 78%;
}

header nav a {
    position: relative;
    text-decoration: none;
    color: black;
    transition: .5s all ease;
}
header nav a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: .1rem;
    background: rgb(0, 116, 184);
    border-radius: 1rem;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}
header nav a:hover {
    color: rgb(72, 0, 94);
}

header nav a:hover:after {
    transform-origin: left;
    transform: scaleX(1);
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-1 {
    width: 20%;
}

main {
    height: 100%;
    overflow: visible;
}

.slicker-box {
    display: flex;
    box-sizing: border-box;
    position: relative;
    height: 110vh;
    overflow: hidden;
}

.slide-div {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    position: absolute;
    overflow: visible;
}

.slide-titles, .slide-texts {
    padding: .6rem;
    overflow: visible;
    color: var(--slide-text-color);
    margin: 0;
}

.slide-titles {
    font-weight: 700;
    font-size: calc(2.4rem + 1vw);
    transition: 1.4s all ease;
}

.slide-texts {
    font-weight: 500;
    font-size: calc(.5rem + 1vw);
    transition: 1.5s all ease;
}

.slide {
    position: relative;
    height: max-content;
}

.slide-1 {
    top: 19%;
    left: 5%;
    text-align: start;
}

.slide-2 {
    top: 16%;
    right: 10%;
    text-align: end;

}

.slide-3 {
    top: 31%;
    left: calc(35% + 1vw);
    text-align: center;

}

.slide-4 {
    top: 20%;
    left: calc(38% + 1vw);
    text-align: center;
}

.slide-5 {
    top: 10%;
    left: calc(38% + 1vw);
    text-align: center;
}

.fade-in {
    opacity: 0;
    transform: translateY(20%);
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(-20%);
}

img {
    height: 100%;
    width: 100%;
}


.nextArrow, .prevArrow {
    color: white;
    border: 1px solid transparent;
    border-radius: 2rem;
    background-color: var(--arrow-bg);
    position: absolute;
    font-size: calc(1.4rem + 1vw);
    width: 6%;
    height: 10%;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    transition: all .3s ease;
    overflow: visible;
}

.prevArrow {
    top: 50%;
    left: .8%;
}

.nextArrow {
    top: 50%;
    right: 1%;
}

.nextArrow:active, .prevArrow:active {
    background-color: var(--arrow-bg-active);
}

.mid-page {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: visible;
    background-color: white;
}

.content-box {
    position: absolute;
    width: 70%;
    height: calc(92% + 1vw);
    bottom: calc(26% + 1vw);
    z-index: 1;
    background-color: rgb(212, 212, 212, .9);
    font-size: var(--avg-font-size);
}

.content-box-h1 {
    height: 20%;
    overflow: visible;
}

.content-box div h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}

.theme-choosing {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    padding: 1rem;
    background-color: rgba(220, 20, 60, 0.11);

}

.theme-choosing h2 {
    overflow: visible;
}

.theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
    overflow: visible;
}

.div-songs-list {
    margin-top: 5rem;
    margin: 1rem;
}

.OSTs {
    text-align: center;
}

.OSTs h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    font-size: calc(2rem + 1vw);
    height: 15vh;
}

footer {
    align-items: center;
    justify-items: center;
    padding: 1rem;
    row-gap: 1rem;
    background-color: black;
    color: rgb(225, 225, 225);
}

.footer-nav {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

footer div a {
    text-decoration: none;
    color: white;
}

.others {
    display: flex;
    text-align: center;
}

@media (max-width: 768px) {
    .faixa {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        background-image: url('./svgs/blurry-gradient-haikei4.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .faixa-text {
        color: white ;
    }
    
    .page {
        box-sizing: border-box;
        flex-direction: column;
    }
    
    header {
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        align-content: center;
        height: 7%;
        padding: 1%;
        background-color: var(--header-bg);
        /*position: fixed;*/
        z-index: 2;
    }
    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        font-size: calc(.4rem + 1vw);
    }
    
    header nav {
        display: none;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 150%;
    }
    
    .icon-1 {
        width: 12%;
    }

    .sm-logo {
        width: 38%;
        margin-inline: 4.2rem;
    }

    i {
        font-size: 160%;
        overflow: visible;
    }
    
    main {
        height: 100%;
    }
    
    .slicker-box {
        display: flex;
        box-sizing: border-box;
        position: relative;
        height: 70vh;
    }

    /*.slide-div {
        background-color: rgba(0, 0, 0, 0.058);
        border-radius: .6rem;
    }*/

    .slide-titles, .slide-texts {
        padding: .4rem;
        color: rgb(229, 254, 254);
        font-weight: 900;
    }
    
    .slide-titles {
        font-size: calc(1.6rem + 1vw);
    }
    
    .slide-texts {
        font-size: calc(.5rem + 1vw);
    }

    .slide-1 {
        top: 19%;
        left: 5%;
        text-align: start;
    }
    
    .slide-2 {
        top: 16%;
        right: 10%;
        text-align: end;
    
    }
    
    .slide-3 {
        top: 29%;
        left: calc(10% + 1vw);
        text-align: center; 
    }

    .slide-3 .slide-titles, .slide-3 .slide-texts{
        color: black;
    }

    .slide-4 {
        top: 20%;
        left: calc(22% + 1vw);
        text-align: center;
    }

    .slide-4 .slide-titles, .slide-4 .slide-texts{
        color: rgb(0, 0, 0);
    }

    .slide-5 {
        top: 20%;
        left: calc(22% + 1vw);
        text-align: center;
    }
    
    .nextArrow, .prevArrow {
        font-size: calc(1.4rem + 1vw);
        width: 18%;
        height: 12%;
    }
    
    .prevArrow {
        top: 40%;
        left: .8%;
    }
    
    .nextArrow {
        top: 40%;
        right: 1%;
    }
    
    .mid-page {
        width: 100%;
        height: 60vh;
    }
    
    .content-box {
        width: 80%;
        height: calc(92% + 1vw);
        bottom: calc(26% + 1vw);
    }

    .content-box div p {
        font-size: calc(.6rem + 1vw);
    }
    
    .theme-choosing {
        height: 50vh;
    }
    
    .theme-choosing h2 {
        margin-bottom: 2rem;
        position: relative;
        overflow: visible;
    }

    .theme-choosing h2:before {
        content: "Arraste para o lado";
        position: absolute;
        text-align: center;
        font-size: 50%;
        opacity: .8;
        top: 82%;
        left: 10%;
    }    
    .div-songs-list {
        padding: 1rem;
    }
    
    .OSTs {
       width: 100%;
    }
    
    .OSTs h2 {
        overflow: visible;
    }
    
    footer {
        padding: 1rem;
        row-gap: 1rem;
        margin-top: 2rem;
    }
    
    .footer-nav {
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
    
    footer div a {
        
    }
}